@use '../global' as *;
@use '../custom' as *;

#drum-machine {
  height: $height;
  margin-top: calc(50vh - $height / 2);
  border: sdm-rem(14) solid $primary;
  border-radius: sdm-rem(35);

  @include media-breakpoint-down(md) {
    height: 90vh;
    margin-top: 5vh;
    min-height: sdm-rem(800);
  }

  @include media-breakpoint-down(sm) {
    width: 95vw;
    min-height: sdm-rem(800);
  }
}
