@use '../custom' as *;

.header {
  $Margin-Fixer: -1.55rem;
  font-size: 1.5rem;
  justify-content: end;
  align-items: center;
  margin-top: 0.45rem;
  margin-bottom: $Margin-Fixer;

  @include media-breakpoint-down(md) {
    padding-bottom: 0.25rem;
  }

  & h1 {
    @extend .header;
    font-family: 'Salsa', cursive;
    margin: 0;
  }

  & i {
    @extend .header;
    padding-left: 0.5rem;
    margin-top: $Margin-Fixer;
    margin-right: 1rem;
    font-weight: bold;
  }
}
