@use '../custom' as *;
@use '../global' as *;

.toggle-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Salsa', cursive;

  @include media-breakpoint-down(md) {
    height: 50%;
    width: 90%;
  }

  & .toggle-switch {
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding: sdm-rem(0) !important;
    margin-top: sdm-rem(-30);

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }

    & input {
      width: 6rem;
      height: 50%;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 1rem;
      border: sdm-rem(3) solid $secondary;
    }
  }

  & #display {
    display: flex;
    width: sdm-rem(250);
    height: sdm-rem(75);
    font-size: 2rem;

    justify-content: center;
    align-items: center;
    background-color: $third;
    border-radius: sdm-rem(12);
    border: sdm-rem(5) solid $secondary;

    @include media-breakpoint-down(md) {
      width: 75%;
      height: sdm-rem(100);
      font-size: 3.5rem;
    }

    @include media-breakpoint-down(sm) {
      width: 95%;
      font-size: 3rem;
      margin-top: 0.75rem;
    }
  }

  & .slider {
    width: sdm-rem(220);

    @include media-breakpoint-down(md) {
      width: 72%;
    }

    @include media-breakpoint-down(sm) {
      width: 82%;
    }
  }
}
