// custom replaced variables
// $primary: red;
$primary: hsl(209, 61%, 62%);
$secondary: hsl(209, 40%, 70%);
$third: hsl(209, 40%, 80%);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
