// custom replaced variables
$primary: hsl(209, 61%, 62%);
$secondary: hsl(209, 40%, 70%);
$third: hsl(209, 40%, 80%);

// Active background color
$component-active-bg: $secondary;

// trying to fix active button styles
.btn:focus-visible {
  background-color: white !important;
  filter: drop-shadow(
    rem(5, 16) rem(5, 16) rem(10, 16) hsla(0, 0%, 0%, 0.4)
  ) !important;

  &:hover {
    background-color: $secondary !important;
    cursor: pointer !important;
  }

  &:focus-visible {
    border: 2px solid hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
  }
}

// focus outline that shows around stuff when active
$focus-ring-width: 0rem;

// the tint color that the focus outline would use
$input-focus-border-color: tint-color($component-active-bg, 0%);

// custom range input for the volume
$form-range-thumb-width: 1.5rem;
$form-range-thumb-border: 0;
$form-range-thumb-border-radius: 0.25rem;
$form-range-track-bg: $third;

// button opacity when clicked
$form-range-thumb-active-bg: tint-color($component-active-bg, 70%);

// Create an 'active' style that matches the :hover and the :active
.sdm-active-btn {
  background-color: $secondary !important;

  &:hover {
    background-color: $secondary !important;
  }

  &:focus-visible {
    background-color: $secondary !important;
  }
}

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
